@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
.navbar{
    display: flex;
    background-color: blue;
    width: 100%;
    align-items: center;
    justify-content: flex-end;
    height: 40px;
    padding: 2vh 0vw;
}
.nav-button{
    color: white;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    padding: 0 1vw;
}

a:link{
    text-decoration: none;
}